{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e0d3578f86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main\css\style.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    <div class="navbar">
        <a class="siteLink" href="{% url 'main' %}"><i class="fa-solid fa-house"></i> Главная</a>
        <a class="siteLink" href="{% url 'research' %}"><i class="fa-solid fa-brain"></i> О результатах</a>
        <a class="siteLink" href="{% url 'author' %}"><i class="fa-solid fa-phone"></i> Об авторе</a>
    </div>    

    {% block content %} 
    
    {% endblock %}

</body>
</html>