{% extends 'main\Base.html' %}
{% load static %}

{% block title %} Исследование {% endblock %}

{% block content %} 
<div class="content research">
    <h1>Исследование</h1>

    <div class="image">
        <img src="{% static 'main\img\Heatmap.jpg' %}" alt="Тепловая карта">
    </div>

    <p>После сбора датасета и его анализа, мы обнаружили определённые зависимости между количеством подписчиков и тематикой постов, на основе которых можем посоветовать несколько решений, для повышения активности в группе:</p>
    <ul>
        <li>Увеличить количество постов на тему "Конкурс" - на таких постах как правило большая активность, чем под другими.</li>
        <li>Увеличить количество постов на тему "Лагерь" - на этих постах так же замечена более высокая активность.</li>
        <li>Приглашать больше гостей - посты о новых гостях сами по себе привлекают активность, но помимо этого вы привлечёте аудиторию, следящую за гостем.</li>
        <li>Помимо прочего, можно так увеличить количество постов об Ирине Викторовне</li>
    </ul>

    <div class="image">
        <img src="{% static 'main\img\1.jpg' %}" alt="График">
    </div>

</div>
{% endblock %}